---
layout: page
title: Northeast Ohio GMB
subtitle: Cleveland - Akron - Canton
---

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <img style="float: right;" src="/CleWW/img/OBUclassic.jpg"><p><strong>The</strong> <a href="http://www.iww.org">IWW</a> is a union for <em>all</em> workers across all industries. We are a dedicated, worker-run, international union committed to organizing in our workplaces, industries, and our communities.</p>

    <p><strong>Founded</strong> in 1905, the IWW works towards a better society based on worker control, and economic democracy. The IWW is dedicated to the values laid out in our <a href="http://www.iww.org/culture/official/preamble.shtml">preamble</a>.

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
